<navbar></navbar>
<section style="margin-top: 100px">
  <div class="container">
    <h1>你好</h1>
    <ul class="list-group">



      <li style="list-style-type:none;" ng-repeat="noteItem in vm.noteList">

        <div class="card border-success hvr-glow" style="margin:20px;">
          <div class="card-body">
            <blockquote class="card-blockquote">
              <div class="row">
                <div class="col-md-4">
                  <img src="/src/image/bg-3.jpg" alt="..." class="img-rounded" style="width:90%;height:90%">
                </div>
                <div class="col-md-8">
                  <h3>{{noteItem.title}}</h3>
                  <p>{{noteItem.cache}}</p>
                </div>

              </div>
            </blockquote>
          </div>
        </div>
      </li>

    </ul>


  </div>

</section>