<style>
  .card {
    margin: 10px;
  }
</style>
<navbar></navbar>
<section style="margin-top: 100px">
  <div class="container">
    <div class="row">

      <div class="col-lg-8">
        <div infinite-scroll='vm.nextPage()' infinite-scroll-disabled='vm.busy || vm.noData' infinite-scroll-distance='0'>
          <div class="card text-black bg-light">
            <div class="card-body">
              <button type="button" class="btn btn-primary">Primary</button>
              <button type="button" class="btn btn-secondary">Secondary</button>
              <button type="button" class="btn btn-success">Success</button>
              <button type="button" class="btn btn-info">Info</button>
              <button type="button" class="btn btn-warning">Warning</button>
              <button type="button" class="btn btn-danger">Danger</button>
            </div>
          </div>
          <ul class="list-group">
            <li style="list-style-type:none;" ng-repeat="noteItem in vm.noteList">
              <div class="card border-success hvr-glow">
                <div class="card-header">
                    <span class="badge badge-primary">Primary</span>
                    <span class="badge badge-secondary">Secondary</span>
                    <span class="badge badge-success">Success</span>
                    <span class="badge badge-danger">Danger</span>
                    <span class="badge badge-warning">Warning</span>
                    <span class="badge badge-info">Info</span>
                    <span class="badge badge-light">Light</span>
                    <span class="badge badge-dark">Dark</span>
                </div>
                <div class="card-body">
                  <blockquote class="card-blockquote">
                    <div class="row">
                      <div class="col-md-4">
                        <img src="/src/image/bg-3.jpg" alt="..." class="img-rounded" style="width:90%;height:90%">
                      </div>
                      <div class="col-md-8">
                        <h3>{{noteItem.title}}</h3>
                        <p>{{noteItem.cache}}</p>
                      </div>
                    </div>
                  </blockquote>
                </div>
                <div class="card-footer" align="right">
                    <div class="btn-group" role="group" aria-label="Basic example">
                        <button type="button" class="btn btn-default btn-warning btn-xs"><span class="glyphicon glyphicon-star" aria-hidden="true"></span> Star</button>  
                        <button type="button" class="btn btn-secondary btn-default btn-xs">阅读量：1000</button>
                      </div>
                </div>
              </div>
            </li>
          </ul>
          <div ng-show='vm.busy'>Loading data...</div>
        </div>
      </div>

      <div class="col-lg-4">
        <div class="bs-component">
          <div class="card text-white bg-primary">
            <div class="card-body">
              <blockquote class="card-blockquote">
                <p>JPan Love..........</p>
                <footer>Someone famous in
                  <cite title="Source Title">Source Title</cite>
                </footer>
              </blockquote>
            </div>
          </div>
          <div class="card text-white bg-success">
            <div class="card-body">
              <blockquote class="card-blockquote">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
                <footer>Someone famous in
                  <cite title="Source Title">Source Title</cite>
                </footer>
              </blockquote>
            </div>
          </div>
          <div class="card text-white bg-info">
            <div class="card-body">
              <blockquote class="card-blockquote">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
                <footer>Someone famous in
                  <cite title="Source Title">Source Title</cite>
                </footer>
              </blockquote>
            </div>
          </div>
          <div class="card text-white bg-warning">
            <div class="card-body">
              <blockquote class="card-blockquote">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
                <footer>Someone famous in
                  <cite title="Source Title">Source Title</cite>
                </footer>
              </blockquote>
            </div>
          </div>
          <div class="card text-white bg-danger">
            <div class="card-body">
              <blockquote class="card-blockquote">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
                <footer>Someone famous in
                  <cite title="Source Title">Source Title</cite>
                </footer>
              </blockquote>
            </div>
          </div>
          <div class="card text-black bg-light">
            <div class="card-body">
              <blockquote class="card-blockquote">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
                <footer>Someone famous in
                  <cite title="Source Title">Source Title</cite>
                </footer>
              </blockquote>
            </div>
          </div>
          <div class="card text-white bg-dark">
            <div class="card-body">
              <blockquote class="card-blockquote">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
                <footer>Someone famous in
                  <cite title="Source Title">Source Title</cite>
                </footer>
              </blockquote>
            </div>
          </div>
          <div id="source-button" class="btn btn-primary btn-xs" style="display: none;">&lt; &gt;</div>
        </div>
      </div>

    </div>

  </div>

</section>