<style>
        .card {
          margin: 10px;
        }
      </style>
      <navbar></navbar>
      <section style="margin-top: 100px">
        <div class="container">
          <div class="row">
      
            <div class="col-lg-8">
              <div infinite-scroll='vm.nextPage()' infinite-scroll-disabled='vm.busy || vm.noData || vm.isServerDone' infinite-scroll-distance='0'>
                <div class="card text-black bg-light">
                  <div class="card-body">
                    <button type="button" class="btn btn-primary hvr-pulse-shrink">Primary</button>
                    <button type="button" class="btn btn-secondary hvr-pulse-shrink">Secondary</button>
                    <button type="button" class="btn btn-success hvr-pulse-shrink">Success</button>
                    <button type="button" class="btn btn-info hvr-pulse-shrink">Info</button>
                    <button type="button" class="btn btn-warning hvr-pulse-shrink">Warning</button>
                    <button type="button" class="btn btn-danger hvr-pulse-shrink">Danger</button>
                  </div>
                </div>
                <ul class="list-group">
                  <li style="list-style-type:none;" ng-repeat="noteItem in vm.noteList">
                    <div class="card border-success hvr-glow">
                      <div class="card-header">
                          <span class="badge badge-primary">Primary</span>
                          <span class="badge badge-secondary">Secondary</span>
                          <span class="badge badge-success">Success</span>
                          <span class="badge badge-danger">Danger</span>
                          <span class="badge badge-warning">Warning</span>
                          <span class="badge badge-info">Info</span>
                          <span class="badge badge-light">Light</span>
                          <span class="badge badge-dark">Dark</span>
                      </div>
                      <div class="card-body">
                        <blockquote class="card-blockquote">
                          <div class="row">
                            <div class="col-md-4">
                              <img src="/src/image/bg-3.jpg" alt="..." class="img-rounded" style="width:90%;height:90%">
                            </div>
                            <div class="col-md-8">
                              <h3>{{noteItem.title}}</h3>
                              <p>{{noteItem.cache}}</p>
                            </div>
                          </div>
                        </blockquote>
                      </div>
                      <div class="card-footer" align="right">
                          <div class="btn-group" role="group" aria-label="Basic example">
                                <button type="button" class="btn btn-secondary btn-warning btn-xs" ng-click="vm.toggleLike(noteItem)"><i ng-class="{true:'fa fa-heart', false:'fa fa-heart-o'}[vm.isLike]" aria-hidden="true"></i>&nbsp;喜欢</button>                          
                              <button type="button" class="btn btn-secondary btn-success btn-xs" disabled>阅读量：1000</button>
                            </div>
                      </div>
                    </div>
                  </li>
                </ul>
                <div ng-show='vm.busy'>Loading data...</div>
              </div>
              <div class="card text-black bg-light hvr-grow-rotate" ng-show='vm.isServerDone'>
                <div class="card-body">
                  <blockquote class="card-blockquote">
                    <div class="bs-component">
                      <h2  class="text-muted">Sorry</h2>
                      <p class="text-muted">The server has done...</p>
                      <p class="text-warning">The server has done...</p>
                      <p class="text-danger">The server has done...</p>
                      </div>
                  </blockquote>
                </div>
              </div>
            </div>
      
            <div class="col-lg-4">
              <div class="bs-component">
                <div class="card text-white bg-primary hvr-grow-rotate">
                  <div class="card-body">
                    <blockquote class="card-blockquote">
                      <p>JPan Love..........</p>
                      <footer>Someone famous in
                        <cite title="Source Title">Source Title</cite>
                      </footer>
                    </blockquote>
                  </div>
                </div>
                <div class="card text-white bg-success hvr-grow-rotate">
                  <div class="card-body">
                    <blockquote class="card-blockquote">
                      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
                      <footer>Someone famous in
                        <cite title="Source Title">Source Title</cite>
                      </footer>
                    </blockquote>
                  </div>
                </div>
                <div class="card text-white bg-info hvr-grow-rotate">
                  <div class="card-body">
                    <blockquote class="card-blockquote">
                      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
                      <footer>Someone famous in
                        <cite title="Source Title">Source Title</cite>
                      </footer>
                    </blockquote>
                  </div>
                </div>
                <div class="card text-white bg-warning hvr-grow-rotate">
                  <div class="card-body">
                    <blockquote class="card-blockquote">
                      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
                      <footer>Someone famous in
                        <cite title="Source Title">Source Title</cite>
                      </footer>
                    </blockquote>
                  </div>
                </div>
                <div class="card text-white bg-danger hvr-grow-rotate">
                  <div class="card-body">
                    <blockquote class="card-blockquote">
                      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
                      <footer>Someone famous in
                        <cite title="Source Title">Source Title</cite>
                      </footer>
                    </blockquote>
                  </div>
                </div>
                <div class="card text-black bg-light hvr-grow-rotate">
                  <div class="card-body">
                    <blockquote class="card-blockquote">
                      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
                      <footer>Someone famous in
                        <cite title="Source Title">Source Title</cite>
                      </footer>
                    </blockquote>
                  </div>
                </div>
                <div class="card text-white bg-dark hvr-grow-rotate">
                  <div class="card-body">
                    <blockquote class="card-blockquote">
                      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
                      <footer>Someone famous in
                        <cite title="Source Title">Source Title</cite>
                      </footer>
                    </blockquote>
                  </div>
                </div>
                <div id="source-button" class="btn btn-primary btn-xs" style="display: none;">&lt; &gt;</div>
              </div>
            </div>
      
          </div>
      
        </div>
      
      </section>